﻿body {
  color: #6a6c6f;
  background-color: #f1f3f6;
  margin-top:0px;
}



ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container{width: 960px; height: auto;}
.autocomplete-suggestions { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }

input { font-size: 28px; padding: 10px; border: 1px solid #CCC; display: block; margin: 20px 0; }


.search-result-text {width: inherit;height: 176px;background-color: #373737;margin:-15px;padding: 0px}
.search-result-text p{width: inherit;height: 36px;font-family: MarkOT;font-size: 30px;font-weight: normal;font-style: normal;font-stretch: normal; line-height: 1.2; letter-spacing: normal; text-align: center; color: #c1c1c1;padding: 0px;margin: 50px 0px;}
.search-result-text p span{color: #FFF;font-weight: bold;}
.quick-refine-container{padding: 0px}
.quick-refine{background: #fff;margin: 0px;padding: 0px;min-height: 100px; width: 100%;padding-left: 20px;}
.quick-refine li{display: inline;float: left;margin-left: 5px;}
.side-bar-menu{padding: 0px}
.search-result-container{min-height: 600px;background: #d4d4d452;margin: 0px;padding: 0px}




.nav li {
  border-bottom: 1px solid #eee;
}

.nav li a {
  font-size: 14px;
}

#accordionMenu {
  max-width: 100%;
  min-height: 700px;
  background: #fff;
}

.panel-body {
  padding: 0;
}

.panel-group .panel+.panel {
  margin-top: 0;
  border-top: 0;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-group {
    min-height: 760px;
    background: #ffff;
}

.panel-default>.panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default>.panel-heading a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}

.panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
  background-color: #eee;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\e113";
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\e114";
}



#products .ajax-loader{
display : none;
position : fixed;
z-index: 100;
background-color:#666;
opacity : 0.4;
 vertical-align:middle; 
 text-align:center;
left : 0;
bottom : 0;
right : 0;
top : 0;
  width: 100%;height: 100%
}
#products .ajax-loader img{margin-top: 15%; width: 50px;}
